/* styles.services.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DDD5D3;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* HEADER + HERO BANNER */
header{
    background-image: linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),
    url("../images/lady_helping_a_child_brush_their_teeth.png");

    background-size: cover;
    background-position: center;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

/* Logo */
header img{
    width: 180px; 
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 10px;
}
/* NAVIGATION */

nav{
    margin-bottom: 10px;
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px
}

nav a{
    text-decoration: none;
    color: white;
    margin: 0 15px; 
    font-size: 18px;
    font-weight: bold;
    transition: 0.7s;
}

nav a:hover{
    color: #ffd700;
}

/* Horizontal line */
hr{
    border: none;
    height: 4px;
    background-color: #895f53;
}

/* Main Heading */
h1{
    text-align: center;
    margin: 40px 0 20px;
    font-size: 40px;
    color: #5A3E36;
}

/* Intro Image */
body > img{
    display: block;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto 20px;
    border-radius: 15px;
}

/* Intro Paragraph */
body > p{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

/* Services Sections */
section{
    background-color: white;
    width: 85%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    text-align: center;
}

/* Section Headings */
section h2{
    color: #5A3E36;
    margin-bottom: 15px;
    font-size: 28px;
}

/* Section Images */
section img{
    width: 250px;
    height: auto;
    border-radius: 12px;
    margin-bottom: 15px;
}

/* Section Paragraphs */
section p{
    font-size: 17px;
    padding: 0 15px;
}

/* BACK TO HOME LINK */

body > a{
    display: block;
    text-align: center;
    margin: 30px 0;
    text-decoration: none;
    color: #5A3E36;
    font-weight: bold;
    font-size: 18px;
}

body > a:hover{
    color: #d67229;
}

/* Footer */
footer{
    background-color: #895f53;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px){

    header{
        height: 300px;
    }

    header img{
        width: 150px;
    }

    nav a{
        font-size: 16px;
        margin: 0 10px;
    }

    h1{
        font-size: 32px;
    }

    section{
        width: 95%;
        padding: 20px;
    }

    section h2{
        font-size: 24px;
    }

    section img{
        width: 100%;
        max-width: 250px;
    }
}

#topBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background-color: #895f53;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#topBtn:hover{
    background-color: #d67229;
}